<%
  charity.image ||= image_path("default-charity-image.jpeg")
%>

<div class="row mb-2">
  <div class="col-12">
    <div class="card">
      <div class="row">
        <div class="col-lg-3">
          <img height="100%" src="<%= charity.image %>" class="card-img" alt="charity image">
        </div>
        <div class="col-lg-9">
          <div class="card-body">
            <h5 class="card-title"><%= charity.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= charity.subtitle %></h6>
            <p class="card-text"><%= charity.description %></p>
            <a href="<%= charity.website %>" class="card-link">Website</a>
            <a href="<%= charity.donation_link %>" class="card-link">Donate now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
