<%
  collection_point.image ||= image_path("default-collection-point-image.jpeg")
%>

<div class="row mb-2">
  <div class="col-12">
    <div class="card">
      <div class="row">
        <div class="col-lg-3">
          <img height="100%" src="<%= collection_point.image %>" class="card-img" alt="collection point image">
        </div>
        <div class="col-lg-9">
          <div class="card-body">
            <h5 class="card-title"><%= collection_point.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= collection_point.subtitle %></h6>
            <p class="card-text"><%= collection_point.description %></p>
            <a href="<%= collection_point.website %>" class="card-link">Website</a>
            <a href="<%= collection_point.donation_link %>" class="card-link">Donate now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
