<%
  individual.image ||= image_path("default-individual-image.jpeg")
%>

<div class="row mb-2">
  <div class="col-md-12">
    <div class="card">
      <div class="row">
        <div class="col-md-3">
          <img height="100%" src="<%= individual.image %>" class="card-img" alt="Individual image">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h5 class="card-title"><%= individual.name %></h5>
            <h6 class="card-subtitle mb-2 text-muted"><%= individual.role %></h6>
            <p class="card-text"><%= individual.description %></p>
            <a href="<%= individual.website %>" class="card-link">Personal website</a>
            <a href="<%= individual.linkedin %>" class="card-link">Linkedin</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
